/* Estilos Globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #5acf6e;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#navbar__logo_img {
    width: 100px; 
    height: auto;
    margin-left: 8px; 
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__btn {
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to top, #68696b 0%, #4837ff 100%);
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    cursor: pointer;
}

.main {
    background-color: #312544;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    height: 90vh;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
}

.main__content h1 {
    font-size: 4rem;
    background: linear-gradient(to top, #26d1b5 0%, #15ce25 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1rem;
    background: linear-gradient(to top, #26d1b5 0%, #15ce25 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
}

.main__btn a {
    color: #fff;
    text-decoration: none;
}

.main__btn:hover {
    background: #4837ff;
}

.main__img--container {
    text-align: center;
}

#main__img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(53, 131, 73);
}

@media (max-width: 768px) {
    .main__container {
        grid-template-columns: 1fr;
    }

    .navbar__container {
        padding: 0 20px;
    }

    .main__content h1 {
        font-size: 3rem;
    }

    .main__content p {
        font-size: 1.5rem;
    }
}










